body {
background-color: #283149;
}

h1 {
font-size: 5rem;
font-weight: bolder;
color: aliceblue;
text-align: center;
margin-top: 30px;
font-family: 'Caprasimo', cursive;
text-shadow: 2px 2px #FF0000;
}

.drems {
height: 60vh;
}

.dram {
width: 150px;
height: 150px;
margin: 15px;
border: 5px solid #404B69;
border-width: 15px;
border-radius: 10px;
font-size: 3rem;
text-transform: uppercase;
background-repeat: no-repeat;
background-size: 100% 100%;
background-color: aliceblue;
}

p {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
font-weight: bold;
color: black;
margin: 0;
text-shadow: 2px 2px #fdfdfd;
font-family: 'Caprasimo', cursive;
}

.push {
box-shadow: 0 3px 4px 0 #DBEDF3;
opacity: 0.5;
}

footer p {
font-family: 'Dancing Script', cursive;
text-shadow: none;
}

.a {
background-image: url(./images/tom1.png);
}.s{
background-image: url(./images/tom3.png);
}.d{
background-image: url(./images/kick.png);
}.f{
background-image: url(./images/snare.png);
}.j{
background-image: url(./images/tom4.png);
}.k{
background-image: url(./images/tom2.png);
}.l{
background-image: url(./images/crash.png);
}
